@import './variables.scss';

.sign-page {
    height: calc(100vh - 64px);
    margin: 32px 22px;
}
.sign_ctn {
    border-radius: $border-r-secondary;
    box-shadow: $shadow-primary ;
    display: flex;
    height: calc(100vh - 64px);
    .block_bg {
        width: 46%;
        background: $black-dark-blue url(../img/bg-signIn.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-top-left-radius: $border-r-primary;
        border-bottom-left-radius: $border-r-primary;
    }
    .block {
        flex: 1;
    }
    .logo-wrapper {
        margin: 128px 0px 84px;
    }
    .button-wrapper {
        margin-top: 42px;
    }
    .button-wrapper {
        .btn {
            width: 100%;
            max-width: 202px;
            text-align: center;
            &:after {
                content: '';
                display: inline-block;
                width: 16px;
                height: 12px;
                background: url(../img/arrow.svg);
                background-repeat: no-repeat;
                background-position:  center;
                background-size: contain;
                margin-left: 8px;
            }
        }
    }
}

.sign-form-wrapper {
    width: 100%;
    max-width: 486px;
    padding: 0px 12px;
    margin: 0 auto;
    .sub-heading {
        margin-bottom: 20px;
    }
    .error_message {
        position: absolute;
        right: 0;
        color: $shine-orangered;
    }
}
.get-started {
    background: $black-dark-blue url(../img/bg-stepone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100%;
    display: flex;
    border-top-left-radius: $border-r-primary;
    border-bottom-left-radius: $border-r-primary;

    &_ctn {
        padding: 162px 30px 0px 47px;
    }
    .big-tittle {
        margin-bottom: 40px;
    }
    .checkout-validation {
        &_item {
            color: $semi-white;
            opacity: .5;
            display: flex;
            align-items: center;
            font-size: $secondary-fz;
            line-height: 26px;
            font-weight: 500;
        }
        .connect-state-line {
            display: block;
            height: 26px;
            width: 2px;
            background: $white;
            margin: 8px 0px 12px 12px;
        }
    }   
    .state-round {
        width: 26px;
        height: 26px;
        border-radius: $border-r-round;
        border: 2px solid $semi-white;
        margin-right: 12px;
    }
}
.step-wrapper {
    padding: 70px 0px;
    border-bottom: 1px solid $semi-white;
    .step-count {
        margin-bottom: 70px;
    }
}
.information-about-code {
    padding: 20px 22px;
    display: flex;
    align-items: flex-start;
    background: $light-blue;
    border-radius: $border-r-primary;
    margin-bottom: 20px;

    .attention-blue-icon {
        margin-right: 12px;
        margin-top: 3px;
    }
}
