@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", sans-serif; }

.flex {
  display: flex; }

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto; }
  .container__lg {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto; }
  .container__md {
    max-width: 729px;
    padding: 20px;
    width: 100%;
    margin: 0 auto; }
  .container__sml {
    max-width: 356px;
    width: 100%; }
  .container__sm {
    max-width: 337px;
    padding: 20px;
    width: 100%;
    margin: 0 auto; }

a {
  text-decoration: none;
  color: initial; }

.border_blue {
  border: 1px solid #0096C7; }

.border_dark-blue {
  border: 1px solid #090E29; }

.h-100 {
  height: 100%; }

.text-white {
  color: #FFFFFF; }

.blue-context {
  color: #0096C7;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400; }

.step-count {
  color: #0096C7;
  font-weight: 600;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase; }

.big-tittle {
  font-size: 30px;
  line-height: 37px;
  font-weight: 500; }

.btn {
  border-radius: 12px;
  color: #FFFFFF; }
  .btn.primary {
    padding: 20px;
    font-size: 14px;
    background: #090E29;
    line-height: 17px;
    font-weight: 500; }
  .btn_hlp {
    font-size: 12px;
    color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 12px; }
    .btn_hlp.approved {
      background: #58C663; }
    .btn_hlp.pending {
      background: #FDC748; }
  .btn_view {
    color: #0096C7;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500; }
    .btn_view:after {
      content: ''; }
  .btn_icon {
    background: #f5f5f5;
    border-radius: 14px;
    padding: 10px; }
  .btn_details {
    background: #F4F9FD;
    border-radius: 14px;
    padding: 10px; }

input, a, button {
  outline: none;
  border: none; }
  input:focus, input:active, a:focus, a:active, button:focus, button:active {
    outline: none; }

.input-block {
  margin-bottom: 20px;
  position: relative; }
  .input-block .label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column; }
  .input-block.password {
    position: relative; }
    .input-block.password:after {
      content: '';
      position: absolute;
      background: url(../img/view.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 24px;
      height: 18px;
      right: 10px;
      top: calc(50% + 6px); }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label:before {
  content: "\2714";
  color: transparent;
  display: inline-flex;
  align-items: center;
  border: 2px solid #090E29;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 16px;
  width: 16px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s; }

input[type=checkbox]:checked + label:before {
  color: #090E29; }

.checkbox-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #7D8592; }

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .button-wrapper.flex-end {
    justify-content: flex-end;
    margin: 50px 50px 50px 0px; }

.helping-link {
  color: inherit; }

.sub-heading {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  color: #1C1C1C; }

.input {
  border-radius: 12px;
  background: #FFFFFF;
  border: 1px solid #f5f5f5;
  padding: 16px 12px;
  line-height: 22px;
  font-size: 14px;
  color: #7D8592;
  width: 100%; }
  .input::placeholder {
    color: #7D8592; }
  .input.sms-code {
    max-width: 58px;
    text-align: center;
    margin-right: 20px; }

.select {
  border-radius: 12px;
  background: #FFFFFF;
  border: 1px solid #f5f5f5;
  padding: 18px 12px;
  line-height: 22px;
  font-size: 14px;
  color: #7D8592;
  margin-right: 15px;
  outline: none; }

.text-center {
  text-align: center; }

.sign-page {
  height: calc(100vh - 64px);
  margin: 32px 22px; }

.sign_ctn {
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(24, 57, 88, 0.1);
  display: flex;
  height: calc(100vh - 64px); }
  .sign_ctn .block_bg {
    width: 46%;
    background: #090E29 url(../img/bg-signIn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px; }
  .sign_ctn .block {
    flex: 1; }
  .sign_ctn .logo-wrapper {
    margin: 128px 0px 84px; }
  .sign_ctn .button-wrapper {
    margin-top: 42px; }
  .sign_ctn .button-wrapper .btn {
    width: 100%;
    max-width: 202px;
    text-align: center; }
    .sign_ctn .button-wrapper .btn:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 12px;
      background: url(../img/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-left: 8px; }

.sign-form-wrapper {
  width: 100%;
  max-width: 486px;
  padding: 0px 12px;
  margin: 0 auto; }
  .sign-form-wrapper .sub-heading {
    margin-bottom: 20px; }
  .sign-form-wrapper .error_message {
    position: absolute;
    right: 0;
    color: #DD4425; }

.get-started {
  background: #090E29 url(../img/bg-stepone.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 100%;
  display: flex;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px; }
  .get-started_ctn {
    padding: 162px 30px 0px 47px; }
  .get-started .big-tittle {
    margin-bottom: 40px; }
  .get-started .checkout-validation_item {
    color: #f5f5f5;
    opacity: .5;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500; }
  .get-started .checkout-validation .connect-state-line {
    display: block;
    height: 26px;
    width: 2px;
    background: #FFFFFF;
    margin: 8px 0px 12px 12px; }
  .get-started .state-round {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    margin-right: 12px; }

.step-wrapper {
  padding: 70px 0px;
  border-bottom: 1px solid #f5f5f5; }
  .step-wrapper .step-count {
    margin-bottom: 70px; }

.information-about-code {
  padding: 20px 22px;
  display: flex;
  align-items: flex-start;
  background: #F4F9FD;
  border-radius: 14px;
  margin-bottom: 20px; }
  .information-about-code .attention-blue-icon {
    margin-right: 12px;
    margin-top: 3px; }
